@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.app {
  font-family: "Poppins", sans-serif;
}
.container {
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  border: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.container1 {
  padding-bottom: 0px;
  text-align: center;
  width: 500px;
}

.h2{
    margin-top: -10%;
}

.title {
  text-decoration: none;
}
.bg-blue {
  background-color: #0d6efd;
  color: white;
}
.bg-yellow {
  background-color: #ffd119;
  color: white;
}

.bg-green{
  background-color: #00CD9C;
  color: white;
}


.btn {
  text-decoration: none;
}
.btn1 {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffd119;
}


.card1 {
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  background-image: url(./Quotes.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cardh1 {
margin-top: -4%;  
  height: 300px;
  background-image: url(./Quotes.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card1o {
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    background-image: url(./Green.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
.card2 {
  width: 60%;
  margin-left: 36%;
}

.cardh2 {
  width: 60%;
}
.card3 {
  padding: 15%;
  padding-top: 10%;
}
.cardh3 {
  padding: 15%;
  padding-top: 15%;
}


.cardo3 {
    padding: 10%;
    padding-top: 18%;
    margin-top: -7%;
    height: 50%;
  }
  
.input{
  padding: 80%;

}